<div class="container">
  <div class="wrap">
    <div class="welcome">

    <div class="images-wrapper">
      <div class="slide" style="background-image: url('/assets/images/discover/valencia.jpg')"></div>
      <div class="slide" style="background-image: url('/assets/images/discover/mallorca.jpg')"></div>
      <div class="slide" style="background-image: url('/assets/images/discover/ibiza.jpg')"></div>
      <div class="slide" style="background-image: url('/assets/images/discover/barcelona.jpg')"></div>
      <div class="image-filter"></div>
    </div>

    <div class="headers-wrapper">
      <h1 class='title'>CHARTERS YACHTS</h1>
      <h2 class='subtitle'>Explore our fleet of fully crewed yachts</h2>
      <!-- <div class="headers">
        <h2 data-text="Barcelona" class="header">Barcelona</h2>
        <h2 data-text="Ibiza" class="header">Ibiza</h2>
        <h2 data-text="Mallorca" class="header">Mallorca</h2>
        <h2 data-text="Valencia" class="header">Valencia</h2>
      </div> -->
    </div>

    <!-- <div class="footer">
      <p class="copyright">@ Copyright 2017-2018<span>Sistemas navales All Rights Reserved</span></p>
      <div class="policies">
        <a class="link" routerLink="/">Terms</a>
        <span class='dot'>•</span>
        <a class="link" routerLink="/">Privacy</a>
      </div>
    </div> -->

    <!-- <h4 class='background-header'><span>i</span>ACHT</h4> -->
    <!-- <span class='mouse'></span> -->
    </div>
</div>
</div>