@import '../../../../../../../assets/sass/mixins.scss';

/*----------------------------------------
Footer
------------------------------------------*/

.communication {
  // margin: 88px 0 79px 9.14vw;
  display: flex;

  /**** Phone ****/
  @include phone {
    margin: 45px auto 30px auto;
    flex-direction: column;
    align-items: center;
  }

  /**** Tablet Portrait ****/
  @include tablet-portrait {
    margin: 45px auto 0 auto;
    flex-direction: column;
    align-items: center;
  }

  /**** Tablet Landscape ****/
  @include tablet-landscape {
    margin: 45px auto 68px auto;
    align-items: flex-start;
  }

  /**** Destkop ****/
  @include desktop {
    margin: 65px 0 105px 15%;
  }

  /**** Destkop Medium ****/
  @include desktop-medium {
    margin: 45px 0 95px 15%;
  }

  h5 {
    font-family: Medium;
    line-height: 26px;
    float: left;
    margin: 0 4px 0 0;

    /**** Phone ****/
    @include phone {
      font-size: 16px;

       &:last-of-type {
        margin-top: 79px;
      }
    }

    /**** Tablet Portrait ****/
    @include tablet-portrait {
      font-size: 18px;

      &:last-of-type {
        margin-top: 45px;
      }
    }

    /**** Desktop ****/
    @include desktop {
      font-size: 17px;

      &:last-of-type {
        margin-top: 50px;
      }
    }
  }
}



/*--------------------
Hello
---------------------*/

.hello {
  font-family: Book;
  font-size: 20px;
  letter-spacing: .6px;
  cursor: pointer;
  color: #2b2b2b;
  user-select: text;
  position: relative;

  /**** Phone ****/
  @include phone {
    font-family: SemiBold;
    color: #08285a;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  /**** Tablet Portrait ****/
  @include tablet-portrait {
    font-family: SemiBold;
    color: #08285a;
    font-size: 16px;
    margin-top: 23px;
    text-transform: uppercase;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;

    /**** Phone ****/
    @include phone {
      background-color: #08285a;
    }
  }
}



/*--------------------
Find
--------------------*/

.find {
  font-family: Medium;
  font-size: 16px;
  color: #2b2b2b;
  position: relative;
  float: right;

  /**** Phone ****/
  @include phone {
    font-family: SemiBold;
    color: #08285a;
    font-size: 14px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  /**** Tablet Portrait ****/
  @include tablet-portrait {
    font-family: SemiBold;
    color: #08285a;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
  }

  &:hover:before {
    visibility: hidden;
    transform: scaleX(0);
  }

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.4s ease-in-out;

    /**** Phone ****/
    @include phone {
      background-color: #08285a;
    }
  }
}



/*--------------------
Scroll
--------------------*/

.scroll {
  cursor: pointer;
  display: inline-block;
  color: #08285a;
  font-size: 14px;
  line-height: 2;
  font-family: SemiBold;
  padding: 10px;

  /**** Phone ****/
  @include phone {
    margin: 62px 0 9px 0;
  }

  /**** Tablet Portrait ****/
  @include tablet-portrait {
    margin: 30px 0 36px 0;
  }

  /**** Tablet Landscape ****/
  @include tablet-landscape {
    display: none;
  }
}
