@import './logotype.scss';
@import './links.scss';
@import './icons.scss';

/*--------------------
Controls
---------------------*/

.controls {
  height: 40px;
  display: inline-flex;
  align-items: center;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
