<div class="container">
  <div class="wrap">
    
    <slider-subheader></slider-subheader>
      <div class="filters">
        
          <app-filters
              (gold$)="isGold=$event"
              (brown$)="isBrown=$event"
              (red$)="isRed=$event"
              (yellow$)="isYellow=$event"
              (pink$)="isPink=$event"
              (green$)="isGreen=$event"
              (black$)="isBlack=$event"
              (white$)="isWhite=$event"
              (grey$)="isGrey=$event"
              (blue$)="isBlue=$event"
            
              (XS$)="isXS=$event"
              (S$)="isS=$event"
              (M$)="isM=$event"
              (L$)="isL=$event"
              (XL$)="isXL=$event" 
              (XXL$)="isXXL=$event"
          ></app-filters>
          <hr>
      </div>
       
      <div class="booking">
          <app-filters
          (gold$)="isGold=$event"
          (brown$)="isBrown=$event"
          (red$)="isRed=$event"
          (yellow$)="isYellow=$event"
          (pink$)="isPink=$event"
          (green$)="isGreen=$event"
          (black$)="isBlack=$event"
          (white$)="isWhite=$event"
          (grey$)="isGrey=$event"
          (blue$)="isBlue=$event"
        
          (XS$)="isXS=$event"
          (S$)="isS=$event"
          (M$)="isM=$event"
          (L$)="isL=$event"
          (XL$)="isXL=$event" 
          (XXL$)="isXXL=$event"
      ></app-filters>
      </div>
      
    <!-- <div class="booking">
      
      <app-list-blogs 
      [shirts]="shirts"
  
      [isGold]="isGold"
      [isBrown]="isBrown"
      [isRed]="isRed"
      [isYellow]="isYellow"
      [isPink]="isPink"
      [isGreen]="isGreen"
      [isBlack]="isBlack"
      [isWhite]="isWhite"
      [isGrey]="isGrey"
      [isBlue]="isBlue" 
    
      [isXS]="isXS"
      [isS]="isS"
      [isM]="isM"
      [isL]="isL"
      [isXL]="isXL" 
      [isXXL]="isXXL"
      ></app-list-blogs>
  
    
    </div> -->
  </div>
  </div>