
    <div class="interactive">
      <div class='yachts-wrapper'>
        <div class='yachts'>
          <div class='top'>
            <div class='left'>
              <div class='yacht n3'><h5 class='yacht-header'>YACHT n3</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n2'><h5 class='yacht-header'>YACHT n2</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n1'><h5 class='yacht-header'>YACHT n1</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
            <div class='right'>
              <div class='yacht n6'><h5 class='yacht-header'>YACHT n6</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n5'><h5 class='yacht-header'>YACHT n5</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n4'><h5 class='yacht-header'>YACHT n4</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
          </div>
          <div class='mid'>
            <div class='left'>
              <div class='yacht n9'><h5 class='yacht-header'>YACHT n9</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n8'><h5 class='yacht-header'>YACHT n8</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n7'><h5 class='yacht-header'>YACHT n7</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
            <div class='right'>
              <div class='yacht n12'><h5 class='yacht-header'>YACHT n12</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n11'><h5 class='yacht-header'>YACHT n12</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n10'><h5 class='yacht-header'>YACHT n10</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
          </div>
          <div class='bot'>
            <div class='left'>
              <div class='yacht n15'><h5 class='yacht-header'>YACHT n15</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n14'><h5 class='yacht-header'>YACHT n14</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n13'><h5 class='yacht-header'>YACHT n13</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
            <div class='right'>
              <div class='yacht n18'><h5 class='yacht-header'>YACHT n18</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n17'><h5 class='yacht-header'>YACHT n17</h5><span class='yacht-explore'>EXPLORE</span></div>
              <div class='yacht n16'><h5 class='yacht-header'>YACHT n16</h5><span class='yacht-explore'>EXPLORE</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>