@import './styles/collage-images.scss';

.n1 {
    background-image: url('/assets/images/boats/n1.jpg');
}
.n2 {
    background-image: url('/assets/images/boats/n2.jpg');
}
.n3 {
    background-image: url('/assets/images/boats/n3.jpg');
}
.n4 {
    background-image: url('/assets/images/boats/n4.jpg');
}
.n5 {
    background-image: url('/assets/images/boats/n5.jpg');
}
.n6 {
    background-image: url('/assets/images/boats/n6.jpg');
}
.n7 {
    background-image: url('/assets/images/boats/n7.jpg');
}
.n8 {
    background-image: url('/assets/images/boats/n8.jpg');
}
.n9 {
    background-image: url('/assets/images/boats/n9.jpg');
}
.n10 {
    background-image: url('/assets/images/boats/n10.jpg');
}
.n11 {
    background-image: url('/assets/images/boats/n11.jpg');
}
.n12 {
    background-image: url('/assets/images/boats/n12.jpg');
}
.n13 {
    background-image: url('/assets/images/boats/n13.jpg');
}
.n14 {
    background-image: url('/assets/images/boats/n14.jpg');
}
.n15 {
    background-image: url('/assets/images/boats/n15.jpg');
}
.n16 {
    background-image: url('/assets/images/boats/n16.jpg');
}
.n17 {
    background-image: url('/assets/images/boats/n17.jpg');
}
.n18 {
    background-image: url('/assets/images/boats/n18.jpg');
}