<div class="container">
  <div class="wrap">

    <slider-header></slider-header>
    
    <div class="booking m-t-100">
        <block 
        [showCollage]="true"
        [showVideo]="false"
        [show360]="false"
        [number]="'01'"
        [textIsLeft]="true"
        [title]="'CHARTER IN SPAIN'"
        [subtitle]="'EXPERIENCE ADVANCED & TRANSPARENT'"
        [text]="'Go from booking a boat to an open sea in a matter of days. With no confusing costs, since we provide all the data to let you know where exactly your money is going and why'">
      </block>
    </div>

    <block 
      [showCollage]="false"
      [showVideo]="false"
      [show360]="true"
      [number]="'02'"
      [textIsLeft]="false"
      [title]="'DESTINATIONS'"
      [subtitle]="'EXPLORE TEHCNOLOGY POWERED'"
      [text]="'Virtual reality technology brings the things right to you. Explore over 1000’s of yachts and destions, to choose the ones you really like.'">
    </block>

    <div class="booking">
      <block 
        [showCollage]="false"
        [showVideo]="true"
        [showButton]="true"
        [show360]="false"
        [textIsLeft]="true"
        [number]="'03'"
        [title]="'EVENTS'"
        [subtitle]="'RECIEVE LOCAL EXPERTISE FOR'"
        [text]="'Charterdart personaly verifies every yacht you choose and stands by 24/7/365 to help you, because we believe that creation of long lasting memories first of all starts with the support of on-the-ground team.'">
      </block>
    </div>

    <!-- <block 
      [showCollage]="false"
      [showVideo]="false"
      [show360]="true"
      [number]="'04'"
      [textIsLeft]="false"
      [title]="'DEALS'"
      [subtitle]="'EXPLORE TEHCNOLOGY POWERED'"
      [text]="'Virtual reality technology brings the things right to you. Explore over 1000’s of yachts and destions, to choose the ones you really like.'">
    </block>
    <div class="booking">
      <block 
        [showCollage]="false"
        [showVideo]="true"
        [showButton]="true"
        [show360]="false"
        [number]="'05'"
        [textIsLeft]="true"
        [title]="'TOYS'"
        [subtitle]="'RECIEVE LOCAL EXPERTISE FOR'"
        [text]="'Charterdart personaly verifies every yacht you choose and stands by 24/7/365 to help you, because we believe that creation of long lasting memories first of all starts with the support of on-the-ground team.'">
      </block>
    </div> -->
  </div>
</div>

<!-- <Footer></Footer>  -->